.Profile{
    padding: 15px 75px 0 20px;
}

.Profile .title{
    padding: 0 0 0 20px;
    margin: 0;
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */


    color: #000000;
}

.Profile .cards{
    margin-top: 15px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.Profile .card_list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Profile .card_list .card_list_more{
    width: 125px;
    height: 40px;
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

    text-align: center;

    color: #000000;
}

.Profile .navigation{
    color: #50CAFF;
    text-decoration: underline;
}

.Profile .navigation:hover{
    cursor: pointer;
}

